* {
    box-sizing: border-box;
    margin: 0;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.input__wrapper {
    width: auto;
}
.input__label {
    font-family: $noto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: $gray;
    margin-bottom: 4px;
    display: inline-block;
}

.input__sublabel {
    font-family: $noto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    color: $light-gray;
    margin-top: 4px;
    &:hover {
        color: #D32F2F;
    }
}

.input__start {
    text-indent: 35px;
}

.input__container {
    position: relative;
    display:inline-block;
    width: 200px;
}

.input__icon {
    color: $gray;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-60%, -50%);
    z-index: 2;
}

.input__endicon {
    color: $gray;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
