* {
    box-sizing: border-box;
    margin: 0;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.input__label {
    font-family: $noto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: $gray;
    margin-bottom: 4px;
}

.input__sublabel {
    font-family: $noto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    color: $light-gray;
    margin-top: 4px;
    &:hover {
        color: #D32F2F;
    }
}