* {
    box-sizing: border-box;
    margin: 0;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.page__wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-content: center;
    gap: 16px;
    max-width: 1440px;
    padding: 16px;
}

.input__wrapper {
    width: auto;
}
.input__label {
    font-family: $noto;
    
    display: inline-block;

    
}

.input__label.error {
    color: $danger;
}

.input__sublabel {
    font-family: $noto;
}

.input__start {
    text-indent: 35px;
}

.input__container {
    position: relative;
    display:inline-block;
    width: 200px;
}

.input__icon {
    color: $gray;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    z-index: 2;

}

.input__endicon {
    color: $gray;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-60%, -50%);
    z-index: 2;
}


.button__title {
    font-family: $ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: $gray;
}

.text__area {
    width: 200px;
    border-radius: 8px;
    border: solid 1px $light-gray;
}

.item--rows {
    gap: 32px;
    
}

.item__wrapper {
    min-width: 270px;
}

.footer__sign {
    font-family: $montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;
    color: #9E9E9E;

}