//Colors
$gray: #333333;
$light-gray: #828282;
$danger: #D32F2F;


// Fonts
$montserrat: 'Montserrat', sans-serif;
$noto: 'Noto Sans Display', sans-serif;
$poppins: 'Poppins', sans-serif;
$ubuntu: 'Ubuntu Mono', monospace;

