@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Noto+Sans+Display:wght@400;500&family=Poppins:wght@500&family=Ubuntu+Mono&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.input__wrapper {
  width: auto;
}

.input__label {
  font-family: "Noto Sans Display", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #333333;
  margin-bottom: 4px;
  display: inline-block;
}

.input__label.error {
  color: #D32F2F;
}

.input__sublabel {
  font-family: "Noto Sans Display", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  color: #828282;
  margin-top: 4px;
}

.input__sublabel:hover {
  color: #D32F2F;
}

.input__start {
  text-indent: 35px;
}

.input__container {
  position: relative;
  display: inline-block;
  width: 200px;
}

.input__icon {
  color: #333333;
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

.input__endicon {
  color: #333333;
  position: absolute;
  top: 50%;
  left: 90%;
  -webkit-transform: translate(-60%, -50%);
          transform: translate(-60%, -50%);
  z-index: 2;
}

.page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 16px;
}

.button__title {
  font-family: "Ubuntu Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: #333333;
}
